<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>{% block title %}{% endblock %} Shed Time</title>
</head>
<header>
    {% include 'cmp-menu.html' %}
</header>

<body>
    {% block body %}
    {% endblock %}
</body>
<footer>
    <p>© jogotiko 2023</p>
</footer>

</html>