{% extends 'base.html' %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
<script src="{{ url_for('static', filename='hudctl-time.js') }}"></script>

<form action="{{ url_for('home') }}" method="POST">
    <div class="hud">
        <input type="hidden" name="current_x" value="{{ v }}">
        <p id="exercise" class="current">{{ exes[v][1] }}</p>
        <p id="timeElapsed" class="time">hh:mm:ss</p>
    </div>
    </div>
    <div class="controller">
        <button id="startButton" onclick="startTimer()">
            {% include 'svg-play.html' %}
        </button>
        <button id="stopButton" onclick="stopTimer()" disabled>
            {% include 'svg-stop.html' %}
        </button>
        <div>
            <button type="submit" name="ctl" value="prev">{% include 'svg-prev.html' %}</button>
            <button type="submit" name="ctl" value="next">{% include 'svg-next.html' %}</button>
        </div>
    </div>
</form>

{% endblock %}